@media screen and (max-width: 1024px) {
  /* main */

  .main {
    padding: 0;
    height: 50%;
  }

  .main__headline {
    padding-top: 50px;
  }

  #main p {
    word-wrap: break-word;  
  }

  /* about */
  .about {
    width: 90vw;
    padding: 0 1vh 0 2vh;
    justify-content: space-evenly;
    line-height: 1vh;
  }


  .about>li:nth-child(1) {
    width: 35%;
  }

  .about>li:nth-child(2) {
    width: 45%;
  }

  .about>li:nth-child(3) {
    width: 15%;
  }

  .category~p {
    margin: 1vh 0;
    line-height: 2vw;
  }

  #license {
    line-height: 2.5vw;
  }

  /* skill */
  #skills {
    margin: 0 auto;
  }

  #skills h2 {
    text-align: center;
    margin-bottom: 5vh;
  }

  .skills {
    width: 90%;
    margin: 0 auto;
  }

  .skill {
    width: 30%;
    margin: 0 auto;
    padding: 0;
    height: 22vh;
  }

  .skillImg {
    margin: 1vh 1vh;
  }

  /* portfolio */

  #port {
    padding: 60 0 0 0;
    margin: 0 auto;
  }

  article:nth-child(3) {
    height: 600px;
    padding-bottom: 30px;
  }

  #portfolio h2 {
    text-align: center;
    margin: 0 0 10vh 0;
  }

  .swiper-box {
    position: relative;
    overflow: hidden;
    height: 70%;
    width: 90%;
    text-align: center;
  }

  /* contact */


  .contacts {
    margin: 0 auto;
    padding: 0;
  }

  #contact h2 {
    margin: 0 0 5vh;
  }

  .contacts {
    padding: 0;
    margin: 0 auto;
  }

  .contacts>div>p {
    padding: 5px 0;
    width: 100%;
  }

  .contacts>div {
    margin: 0 auto;
    text-align: center;
  }

  .contacts__email {
    margin: 0 auto;
    padding: 0;
  }

  /* layout */
  article,
  footer {
    padding-left: 1vh;
    padding-right: 1vh;
  }

}

@media screen and (max-width: 800px) {

  .contacts {
    flex-wrap: wrap;
  }

  .contacts>div {
    width: 100%;
    margin-bottom: 10px;
  }

  /* about */

  .about {
    width: 100%;
    flex-Wrap: wrap;
    padding: 0 1vh 0 2vh;
    justify-content: flex-start;
    justify-content: space-evenly;
    line-height: 1vh;
  }


  .about>li:nth-child(1) {
    width: 35%;
  }

  .about>li:nth-child(2) {
    width: 45%;
  }

  .about>li:nth-child(3) {
    width: 20%;
  }

  .category~p {
    margin: 1vh 0;
    line-height: 2.4vw;
  }

  #license {
    line-height: 3vw;
  }

  /* portfolio */

  #port {
    padding: 60 0 0 0;
    margin: 0 auto;
  }

  article:nth-child(3) {
    height: 600px;
    padding-bottom: 30px;
  }

  .single-items {
    height: 60vh;
  }

  .item>a>img {
    max-width: 90%;
    max-height: 90%;
  }

  #portfolio h2 {
    text-align: center;
    margin: 0 0 10vh 0;
  }

  .swiper-box {
    position: relative;
    overflow: hidden;
    height: 70%;
    width: 90%;
    text-align: center;
  }

  /* skill*/
  #skills h2 {
    text-align: center;
    margin-bottom: 5vh;
  }



}