@media screen and (max-width: 1024px) {
  .balloon {
    left: 65%;
    padding: 1% 5% 3% 5%;
  }

  #career_balloon {
    min-width: 65%;
    transform: translate(-45%, -10%);
  }

  #license_balloon {
    bottom: 5%;
    min-width: 40%;
    transform: translateX(-75%);
  }

  #license_balloon::after {
    transform: translateY(-55%);
  }

  .contact_me p {
    font-size: var(--font-size-lg);
  }
}

@media screen and (max-width: 825px) {
  #about {
    padding: 0 2vw 0 1vw;
  }

  .contacts {
    width: 80vw;
    margin: 0 auto;
  }

  .contacts>div {
    width: 50%;
  }
}